html {
  height: 100%;
}

body {
  background-color: #1C1D21;
  min-height: 100%;
}

#title {
  color: #fff;
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  left: 200px;
  top: 100px;
  margin-left: -150px;
  margin-top: -150px;
  cursor: default;
}

#title > h1 {
  width: 300px;
  height: 300px;
  min-height: 300px;
  display: table-cell;
  vertical-align: middle;
}

.testimonial {
  display: inline-block;
  width: 80%;
  text-align: justify;
}

.testimonial-image {
  display: inline-block;
  width: 18%;
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
}

.testimonial-image > img {
  width: 150px;
  height: 150px;
  -moz-border-radius: 150px/150px;
  -webkit-border-radius: 150px 150px;
  border-radius: 150px/150px;
}

.circle {
  -moz-border-radius: 220px/220px;
  -webkit-border-radius: 220px 220px;
  border-radius: 220px/220px;
  width:220px;
  height: 220px;
  position: absolute;
  left: 50vw;
  top: 50vh;
  margin-left: -100px;
  margin-top: -100px;
  cursor: default;
  transition: left 0.5s, top 0.5s, width 0.5s, height 0.5s, transform 0.5s, margin 0.5s, opacity 2s, background-color 1s, border-color 1s;
}

.circle[active="true"] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width:100vw;
  height: 100vh;
  z-index: 10;
  left: 0 !important;
  top: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  border: none;
}

.circle.clicked {
  background-color: #1C1D21;
  border: 3px solid #fff;
}

.circle:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(66,66,66,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(66,66,66,1);
  box-shadow: 0px 0px 5px 3px rgba(66,66,66,1);
}

.circle > div {
  display: none;
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s;
}

.circle[active="true"] > div {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.circle.active > div {
  opacity: 1;
}

.circle > h2 {
  display: table-cell;
  height: 220px;
  width: 220px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.circle[active="true"] > h2 {
  width: auto;
  height: auto;
  padding-left: 30px;
  padding-top: 30px;
}

.purple {
  background-color: #725AC1
}

.blue {
  background-color: #56CBF9
}

.pink {
  background-color: #A491D3
}

.periwinkle {
  background-color: #6D72C3
}

.voilet {
  background-color: #985F99
}

#about {
  background-color: #1C1D21;
  border: 3px solid #fff;
  color: #000;
}

#about[active="true"] {
  /*font-size: 40px;*/
  border: none;
}
